body {
  background-color: #fff;
}

.video-container {
  width: 500px;
  height: 400px;
  margin: 100px auto;
  border-radius: 10px;
  background: #F0EAD6;
  position: relative;
  border: 3px solid #000;
  box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.3);
}

.video-header {
  background: #F0EAD6;
  color: #333;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 20px;
}

.video-frame, .music-player {
  position: relative;
  height: calc(400px - 40px); /* Adjusting height minus header height */
  background-color: #fcf0e2;
  border-radius: 10px;
  border-top-left-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  border-bottom: 3px solid #000;
}

.video-frame iframe {
  width: 90%;
  height: auto; /* Adjusted to maintain aspect ratio */
}

.music-player {
  display: none; /* Hide music player by default */
  opacity: 1; /* Make sure it is fully visible when displayed */
  flex-direction: column;
}

.lyrics-container {
  padding: 50px;
  margin-bottom: 50px;
  font-size: 24px;
}

.music-player audio {
  position: absolute;
  bottom: 0px;
  margin-bottom: 50px;
}

.play-container {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 100px;
  height: 100px;
  background-color: #fcf0e2;
  border-radius: 50%;
}

.play-container img {
  width: 100px;
  height: 100px;
}

/* Regular slide (from the right) */
.video-container {
  /* ... your existing styles ... */
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 1s ease, opacity 1s ease; /* Transition */
  /* ... */
}

.video-container.visible {
  transform: translateX(0); /* Slide in */
  opacity: 1;
}

.video-container.out {
  transform: translateX(100%); /* Slide out to the right */
  opacity: 0;
}

/* Left slide (for the first 6 elements) */
.video-container.left-slide {
  transform: translateX(-100%); /* Start off-screen to the left */
}

.video-container.left-slide.visible {
  transform: translateX(0); /* Slide in from the left */
}

.video-container.left-slide.out {
  transform: translateX(-100%); /* Slide out to the left */
}
