.video-container {
    width: 500px;
    height: 400px;
    margin: 100px auto;
    border-radius: 50px;
    background: #F0EAD6; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .video-header {
    background: #F0EAD6; 
    color: #333;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  .video-frame {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    background-color: #fcf0e2; /* Placeholder background color */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .video-frame iframe {
    width: 90%;
    height: auto;
  }

  .play-container {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 100px; /* Width of the play button container */
    height: 100px; /* Height of the play button container */
    background-color: #000;
    border-radius: 50%;
  }
  